@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@layer utilities {
  .animate-aurora {
    animation: aurora 15s ease infinite;
  }

  .animate-aurora-delayed {
    animation: aurora 15s ease infinite;
    animation-delay: -5s;
  }
}

@keyframes aurora {
  0% {
    transform: translateX(-100%) skewX(-10deg);
  }

  50% {
    transform: translateX(100%) skewX(-10deg);
  }

  100% {
    transform: translateX(-100%) skewX(-10deg);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}